html,body { height: 100%; width: 100%; }
html, body, ul, li {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    background: rgb(44,143,48);
}
ul li { display: inline-block; }
.fw7 { font-weight: 700; }

.nav {
    position: fixed;
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 1px 2px 9px #00000045;
    background-color: #3e2723;
    background-position: center;
    background-size: contain;
    color: white;
    text-shadow: 0px 0px 11px black;
    z-index: 2;
}

.world {
    width: 1500px;
    height: 700px;
    overflow: scroll;
    margin: 0 auto;
    background: linear-gradient(357deg, rgba(44,143,48,1) 0%, rgba(113,222,117,1) 100%);
}

.change-view {
    position: fixed;
    top: 50px;
    left: 7px;
    width: 50px;
    height: 50px;
}
.zoom-plus {
    position: fixed;
    top: 100px;
    font-size: 50px;
    left: 7px;
    cursor: pointer;
}
.zoom-minus {
    position: fixed;
    top: 100px;
    font-size: 50px;
    left: 50px;
    cursor: pointer;
}