@media (max-width: 950px) {
    .nav {
        display: block;
    }
    .nav-stats {
        font-size: 12px;
        text-align: center;
    }
    .construction-menu .build {
        width: calc(100% - 20px);
    }
    #map {
        left: 300px;
    }
    #map.dd {
        top: 120px;
        left: 60px;
    }
    .manage-construction {
        bottom: 0;
        width: calc(100% - 32px);
        right: 0;
        height: 200px;
        top: initial;
        left: 0;
    }
    .logo {
        text-align: center;
        font-size: 12px;
        margin-bottom: 7px;
    }
    .notify {
        z-index: 6;
        top: 15px;
        left: 0;
        width: calc(100% - 24px);
        font-size: 16px;
        padding: 12px;
        border-radius: 0;
    }
}